**/node_modules/
**/dist/
**/.next/
**/build/
**/out/
**/public/build/  # Specific to Next.js if applicable

**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

**/coverage/
**/jest-cache/
**/cypress/videos/
**/cypress/screenshots/

tmp/
temp/
*.tmp
*.temp
*.swp
*.bak
*.pid
*.seed
*.jar
*.war
.turbo/